mixin alert(mixes)

  - const data = require('views/components/alert/data.js')
  - const css = require('views/components/alert/_css.json')

  div(class=css.alert class=mixes)
    //- header
    //-   button
     
    span Ошибка

